header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-image: url('https://image.slidesdocs.com/responsive-images/background/water-blue-green-underwater-yellowish-sunlight-dark-tide-powerpoint-background_2f7f65fe30__960_540.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman',serif;
    font-size: larger;
    margin-top: 80px;
    padding: 30px;
}

body {
    border: 10px solid red;
    border-width: 15px;
    height: 4000px
  }

.piratePic{
    top: 0;
    left: 0;
    right: 0;
    width: 1000px;
    z-index: -1;
    position: relative;
    display: relative;
    align-items: center;
    padding-left: 210px;
    padding-bottom: 220px;
  }

main {
    color: white;
}


header {
    background-color: rgb(10, 135, 151);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px 0 black;
    z-index: 3;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
}

span{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    font-family: 'Times New Roman',serif;
    letter-spacing: 5px;
    font-size: 350px;
    font-weight: bold;
    background-image: linear-gradient(
     to top,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
    z-index: 1;

}

.SeaTreasureClass { position: absolute;
    transform: translate(-50%,-50%);
    display: relative;
    align-items: center;
    top: 90%;
    left: 50%;
    font-family: 'Times New Roman',serif;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: bold;
    background-image: linear-gradient(
     to top,
     #0a0000 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 50%
     );
    color:transparent;
    -webkit-background-clip:text;
  }

  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    margin-top: 20px;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
    margin-top: 20px;
  }
  .container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }
  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
  .container .btn{
    margin: 40px 0 70px 0;
    background:  rgb(10, 135, 151);
    padding: 15px 40px ;
    border-radius: 5px;
  }
  
  .container .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
  }
  
  @media only screen and (max-width: 769px){
      .container .box{
     flex-direction: column;
    }
  
  .container .box .dream{
    width: 100%;
  }
  
  }
  
  @media only screen and (max-width: 643px){
  .container .heading{
    width: 100%;
    margin-top: 20px;
  }
  .container .heading h3{
    font-size: 1em;
    margin-top: 20px;
  
  }
  
  
  
  
  
  
  
  }

 